.wrapper {
  margin-top: 30px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 730px;
  display: flex;
}

.titleSection {
  margin-bottom: 50px;
  line-height: 1.1;
}

.title {
  font-size: 72px;
  font-weight: bold;
  color: #E2EFBA;
}

.desc {
  font-size: 19px;
  margin-bottom: 20px;
}

.ctaButton {
  background-color: #7e36f7;
  padding: 15px 35px;
  border-radius: 50px;
  color: #E2EFBA;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Media query for screen width 768px */
@media screen and (max-width: 768px) {
  .title {
    font-size: 65px;
  }
}

/* Media query for screen width 640px */
@media screen and (max-width: 640px) {
  .desc {
    font-size: 15px;

  }
}

@media screen and (max-width: 400px) {
  .wrapper{
    margin-bottom: 50px;
  }
  .titleSection {
    margin-bottom: 10px;
  }
  .title {
    font-size: 38px;
  }
  
}