.container {
    margin-top: 50px;
    padding: 50px 20px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .title {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0px 15px;
  }
  
  .subtitle {
    font-size: 16px;
    margin: 0px 255px 53px 254.9px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap; /* Ensures wrapping on smaller devices */
  }
  
  .elementsWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .FirstElement {
    background-color: #691ffc;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 350px;
    max-width: 400px;
    cursor: pointer;
  }
  
  .element {
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 350px;
    max-width: 400px;
    cursor: pointer;
  }
  
  .iconWrapper {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: left; /* Aligns the icon to the left */
    margin-bottom: 20px;
  }
  
  .icon {
    width: 100%;
    height: auto;
  }
  
  .elementTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left; /* Title aligned left */
  }
  
  .elementDescription {
    font-size: 16px;
    line-height: 1.6;
    text-align: left; /* Description aligned left */
  }
  
  .imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  /* Media Query for Small Screens */
  @media screen and (max-width: 1024px) {
    .contentWrapper {
      flex-direction: column; 
      gap: 20px; 
    }
  
    .imageWrapper {
      margin-top: 20px; 
      justify-content: center;
    }
  }
  